@import "bootstrap";
@import "font-awesome";
@import "color";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

header {
  display: block;
  padding-left: 100px;
  color: $color-theme;
  background-color: beige;
}

h1 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 3px;
}

ul {
  padding-left: 20px;
}

#list li {
  list-style: none;
}

.form-control {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

  &:focus {
    border-color: #51a7e8;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
  }
}

.input-contrast {
  background-color: #fafafa;
}

#tool {
  width: 100%;
  margin-top: 10px;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 3px 5px;
}

#delete {
  right: 0;
  font-size: 1.5rem;
}

#preview {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd; border-radius: 3px;
}

.topic-header {
  padding: 10px;
  word-wrap: break-word;
}

#title {
  padding: 4px 10px;
  font-size: 16px;
  display: block;
  width: 100%;
}


.write-content {
  padding: 0 0 8px;
  margin: 0 8px;
}

#body {
  height: 70vh;
  min-height: 200px;
  width: 100%;
}

