$wh-icon: 20px;
$ht-icon: 20px;
$wh-body: 400px;
$sc-min: 20px;

body {
  padding: 10px $sc-min;
  width: $wh-body;
}

.icon {
    width: $wh-icon;
    height: $ht-icon;
}

#tool {
  position: relative;
}

#config {
  position: absolute;
  right: 0;
}

#template {
    display: none;
}

.template {
    margin-top: 5px;
    width: 100%;

    .name {
        font-size: 1.3em;
        overflow: hidden;
        margin-top: 3px;
        width: 100%;
    }

    button {
        display: inline-block;
        width: $wh-icon * 2;
    }
}
