@import "color";

$wh-icon: 20px;
$ht-icon: 20px;
$wh-body: 400px;
$sc-min: 20px;

body {
  padding: 10px $sc-min;
  width: $wh-body;
  box-sizing: content-box;
}

.icon {
    width: $wh-icon;
    height: $ht-icon;
}

#tool {
  position: relative;
}

#option {
  position: absolute;
  right: 0;
}

#message-panel {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  display: none;
  background-color: white;
  border: solid 1px gray;
  border-radius: 3px;
  transition: all .5s;
  opacity: 1;

  &.fadeout {
    opacity: 0;
  }
}

#message {
  margin: 0;
  padding: 3px 5px;
  text-align: center;

  &.info {
    background-color: $color-info-bg;
  }

  &.error {
    background-color: $color-error-bg;
  }
}

#template {
    display: none;
}

.template {
    margin-top: 5px;
    width: 100%;

    .name {
        font-size: 1.3em;
        overflow: hidden;
        margin-top: 3px;
        width: 100%;
    }

    button {
        display: inline-block;
        width: $wh-icon * 2;
    }
}
